/*---GLOBAL---*/
:root {
	--color1:#369;
	--color2:#d9444a;
	--color3:#94a437;
	--color4:#6D7476;
	--color5:#CCCCCC;
	--color6:#4CAF50;
}
i{margin: 0px 3px;}
body{font-family: Arial,'微軟正黑體';}
ul{overflow: hidden;}
/*---LAYOUT---*/
.logo-bar{
	position: relative;
	width: 100%;
	height: 25px;
}
.logo{
	position: absolute;
	height: 75px;
	width: 150px;
	z-index: 3;
}
form{
	margin-right: 15px;
	position: relative;
	height: 100%;
	display: flex;
	justify-content:flex-end;
	align-items: center;
}
nav{
	position:relative;
	width:100%;
	height:50px;
	background:#369;
}
.nav-lg{
	position:relative;
	height:100%;
	width:auto;
	float:right;
	line-height: 50px;
}
.nav-lg>li{
	position:relative;
	height:100%;
	float:right;
}
#sub-menu-control{
	color: white;
	position: relative;
	float: right;
	line-height: 50px;
	display: none;
}
.main-menu{
	position:absolute;
	top:75px;
	width:100%;
	height:400px;	
	background:#4CAF50;
	display:none;
	opacity:0.7;
	z-index:10;
	overflow:hidden;
}
.main-menu>section{
	height:400px;
	display: none;
}
.light-box{
	top:475px;
	position:absolute;
	height:200%;
	width:100%;
	background:black;
	display:none;
	opacity:0.7;
	z-index:9;
}
header{
	position:relative;
	width:100%;
	height:415px;
}
.title{
	position:relative;
	width:100%;
	height:140px;
}
section{
	position:relative;
	width:100%;
}
section>ul{
	position:relative;
	width:100%;
}
section>ul>li{
	position:relative;
	height:280px;
	float:left;	
}

.csr>li{
	height: 430px;
}
/*section>ul>li:nth-child(odd){
	background:var(--color2);
}*/

.news>li{
	width:25%;
}
.product>li{
	width:50%;
}
.tech>li{
	width:25%;
}
.csr>li{
	width:calc(100%/3);
}
.clear{
	clear:both;
}
.sub-menu{
	position:relative;
	width:100%;
	display: flex;
}
.sub-menu>div{
	position:relative;
	width:calc(100%/6);
}
.light-box2{
		display: none;
		background:black;
		display:none;
		opacity:0.7;
		z-index:9;
}
@media screen and (max-width:768px){
	.light-box,.main-menu{
		display: none;
	}
	.nav-lg{
		display: none;
	}
	#sub-menu-control{
		margin-right: 15px;
		display: block;
	}
	.main-menu ,.light-box2{
		display: none;
	}
	section>ul>li{
	position:relative;
	height:280px;
	float:none;
	width:100%;
	}
	.news>li{
		width:100%;
	}
	.product>li{
		width:100%;
	}
	.tech>li{
		width:100%;
	}
	.csr>li{
		width:100%;
	}
	.sub-menu{
		background: #47A;
		position: fixed;
		width: 40%;
		height: 100%;
		top: 0px;
		bottom: 0px;
		right: -100%;
		overflow: auto;
		z-index: 99;
		padding: 0px 15px;
	}
	.light-box2{
		position: fixed;
		left: 0px;
		top: 0px;
		bottom: 0px;
		width: 100%;
		height: 100%;
		display: none;

	}
	.sub-menu>div{
		float:none;
		width: 100%;
	}
	
}
/*---HEADER---*/
header{
	background-image: url(../img/header.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	border-bottom: 15px #FF6100 solid;
	box-sizing: border-box;
}
/*---NAV---*/
/*.logo{
	background-image: url(../img/icon.png);
	background-repeat: no-repeat;
	background-size:auto 75px;
}*/
.logo{
	margin-left: 10px;
}
.logo>img{
	border-radius: 100%;
}
.nav-lg>li{
	color: white;
	padding: 0px 10px;
}
.nav-lg>li:hover{
	background: #246
}
/*---CONTENT---*/
/*---Title---*/
.title{
	text-align: center;
	color: #333333;
	padding: 30px 0px;
	box-sizing: border-box;
}
.title>p:nth-child(1){
	font-size: 48px;
	border-bottom: 3px #E7E8E8 solid;
}
.title>p:nth-child(2){
	font-size: 20px;
	font-weight: bold;
}
/*---NEWS---*/
.news>li{
	box-sizing: border-box;
	border: 2px #E7E8E8 solid;
	padding: 15px;
}
.tit{
	position: relative;
	width: auto;
	color: #333333;
	border-bottom: 5px #246 solid;
	padding: 5px;
	font-size: 20px;
	font-weight: bold;
}
.text{
	display:  flex;	
	position: relative;
	margin: 5px 0px;
	align-items:center;
}
.date{
	width: 80px;
	height: 85px;
	background: #005AAD;
	color: white;
	line-height: 85px;
	text-align: center;
	flex:0 0 80px;
}
.text>div{
	height: 100%;
	width: auto;
	box-sizing: border-box;
}
.corporation-news{

}
.corporation-news>li{
	margin: 5px 0px;
}
.corporation-news>li>i{
	color: #005AAD;
}
.news>li:nth-child(3){
	background-image: url(../img/news.jpg);
}
.news>li:nth-child(3)>.tit{
	color: white;
	border-bottom: 5px #FF6100 solid;
}
.news>li:nth-child(3)>div{
	position: absolute;
	bottom: 0px;
	width: 100%;
	background: #FF6100;
	height: 75px;
	opacity: 0.9;
	margin-left: -15px;
	font-size: 20px;
	line-height: 25px;
	box-sizing: border-box;
	padding: 10px;
	color: white;
}
.news>li:nth-child(4)>.tit{
	border-bottom: 5px #FF8A47 solid;
}
.finance-news>li{
	margin: 5px 0px;
}
.finance-news>li>i{
	color: #FF6100;
}
/*---Product---*/
.product>li{
	padding: 15px;
	box-sizing: border-box;
	border-bottom: 10px white solid;
}
.product>li>div>.tit{
	color:white;
	border-bottom: 5px #FF8A47 solid;
}
.product>li:nth-child(1){
	background-image: url(../img/pro1.jpg);
	background-position: center center;
}
.product>li:nth-child(2){
	background-image: url(../img/pro2.jpg);
	background-position: center center;
}
/*---Technology---*/
.tech>li{
	padding: 15px;
	box-sizing: border-box;
}
.tech>li:nth-child(1){

}
.tech>li:nth-child(2){
	line-height: 150%;
	letter-spacing: 3px;
	display:flex;
	align-items: center;
}
.tech>li:nth-child(3){
	background-image: url(../img/tech.jpg);
	background-position: center;
}
/*---CSR---*/
.csr>li{
	position: relative;
	padding: 15px;
	box-sizing: border-box;
}
.circle-pic{
	width: 100%;
	height: 70%;
	overflow: hidden;
	border-radius: 100%;
	background-position: center;
}
.csr-tit{
	font-size: 20px;
	font-weight: bold;
	margin: 15px 0px 10px 0px;
}
.csr-tit>i{
	padding: 5px;
	border-radius: 100%;
	background: #6F963E;
	color: white;
}
/*---SIDEBAR---*/
.sub-menu>div{
	padding: 0px 0px 0px 15px;
	box-sizing: border-box;
}
.sub-menu>div>p{
	font-size: 20px;
	font-weight: bold;
	letter-spacing: 2px;
	border-bottom: 3px #E7E8E8 solid;
	margin: 15px 0px;
}
.sub-menu-item>li{
	line-height: 20px;
	border: 0px 5px;
}
/*---FOOTER---*/
footer{
	margin-top: 15px;
	background:#246;
	color: white;
	line-height: 24px;
	text-align: center;
}